.month-card {
    position: relative;
}
.month-card__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#00151f), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(bottom, #00151f 0, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, #00151f 0, rgba(0, 0, 0, 0) 100%);
    padding: 2em 1.625em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
	pointer-events: none;
}
.month-card__title {
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
}
.month-card__count {
    font-size: 18px;
    padding: 0 14px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    color: #fff;
}
.month-card__images {
    display: none;
}
.month-card__img {
    position: relative;
    padding-bottom: 70.5%;
    display: block;
	border-radius: 10px;
}
.month-card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
}